<header>
    <div class="header-content">
        <div class="header-content-inner" id="main-info">
            <h2>{{site.date}}</h2>
            <hr>
            <h1>{{site.tagline}}</h1>
        </div>
    </div>
    <div id="host" class="header-content-inner">
        <div id="host-content">
            <div>
                <p lang="fr">Hébergé par</p>
                <p>Hosted by</p>
            </div>
            <a target="_blank" rel="noopener" href="https://www.scaleway.com/"><img id="host-logo" src="img/scaleway.svg" alt="Logo of Scaleway - Host of the event" /></a>
        </div>
    </div>
</header>
